div.jumbotron.foot-jumbotron
  <br>
  div.container
    div.row
      div.col-md-12
        h1.text-center Get the Toolkit
        p.lead.text-center  We've put together a set of practices that are designed to help you to start to earn user trust and reduce operational risks through better data practices.
    div.row
      div.col-md-6
        a(href='')
          div.link-box
            img(src='/images/doc.png')
            h4.text-center LDP Process
      div.col-md-6
        a(href='')
          div.link-box
            img(src='/images/code.png')
            h4.text-center LDP Worksheet

