div.jumbotron(style="margin:60px 0 0 0").foot-jumbotron
  div.container
    div.row
      div.col-md-12
        h1.text-center Get the Toolkit
    div.row
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/doc.png')
            h4.text-center LDP Process
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/code.png')
            h4.text-center LDP Worksheet

