div.jumbotron
  div.container
    a(href='https://www.mozilla.org/' id='tabzilla') Mozilla
    div.row.padded
      div.col-md-7.padded
        h1 Lean Data Practices
        h2 Data can be very useful. However, the unthinking consumption of unneeded data can lead to a loss of your users’ trust and become a barrier to growth for your business.
      //-   p.lead  We've put together a set of practices that are designed to help you to start to earn user trust and reduce operational risks through better data practices.
      //- div.col-md-2.padded
      //- div.col-md-3.padded
      //-   a(href='')
      //-     div.link-box
      //-       img(src='/images/doc.png')
      //-       h4.text-center LDP Process
      //-   a(href='')
      //-     div.link-box
      //-       img(src='/images/code.png')
      //-       h4.text-center LDP Worksheet

