div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    a.navbar-brand Lean Data
div.jumbotron
  div.container
    div.row
      div.col-md-12
        h1 Lean Data Practices
        p.lead  Just as unneeded calories leads to health consequences, the unthinking consumption of unneeded data leads to trust and risk consequences.
    div.row
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/doc.png')
            h4.text-center Automated data obesity analysis tools
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/doc.png')
            h4.text-center Process documents
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/code.png')
            h4.text-center Data capture and disclosure worksheet

