div.navbar.navbar-inverse.navbar-fixed-top
  div.container
    a.navbar-brand Lean Data
div.jumbotron
  div.container
    div.row
      div.col-md-12
        h1 Lean Data Practices
        p.lead  We've put together a set of practices that are designed to help you to start to earn user trust and reduce operational risks through better data practices.
    div.row
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/doc.png')
            h4.text-center LDP Process
      div.col-md-4
        a(href='')
          div.link-box
            img(src='/images/code.png')
            h4.text-center LDP Worksheet

