

div.container.piggy-bg
  div.row
    div.col-md-12
  div.row
    div.col-md-9.dot-border
      h2 Data Obesity
      br
      p.lead Just as unneeded calories leads to health consequences, the unthinking consumption of unneeded data leads to trust and risk consequences.
    div.col-md-3

div.chunk
  div.container
    h2(style="position:relative;font-weight:300;font-size:60px;margin-bottom:30px") Lean data practices build strong brands    
    div.row
      div.col-md-5.padded.text-center.white-block
        h3 Increasing trust
        br
        div.image-holder.img-responsive(style="height:200px;width:200px;border-radius:50%;")
        br
        p Users are much less likely to use products and services they don’t trust. Once trust is lost it is hard and sometimes impossible to regain.
      div.col-md-1
      div.col-md-5.padded.text-center.white-block
        h3 Reducing Risk
        br
        div.image-holder.img-responsive(style="height:200px;width:200px;border-radius:50%;")
        br
        p Every byte you store increases your operating costs and your breach and regulatory risk.
