
div.chunk
  div.container
    h2.text-center Lean data practices build strong brands
    div.row.padded
      div.col-md-5.padded.text-center.white-block
        h3 Increasing trust
        div.circular-image.handshake
        p Users are much less likely to use products and services they don’t trust. Once trust is lost it is hard and sometimes impossible to regain.
      div.col-md-1
      div.col-md-5.padded.text-center.white-block
        h3 Reducing Risk
        div.circular-image.lock
        p Every additional byte you store increases your operating costs and your breach and regulatory risks.
