div.container
  h2.special-quote.text-center How?

div.container.how-container
  div.row
    div.col-md-12
      h3 Stay Lean
  hr
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
  hr
  div.row
    div.col-md-12
      h3 Build In Security
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
  hr
  div.row
    div.col-md-12
      h3 Engage Your Users
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
