div.container
  h2.special-quote.text-center How?

div.container.how-container
  div.row
    div.col-md-12
      h3 Stay Lean
  hr
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead Do I need this data to provide the value I’m trying to deliver to users?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
  hr
  div.row
    div.col-md-12
      h3 Build In Security
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead What protections have I put around the data I’ve collected?
      ul
        li Limit access to the data to those who truly need access.
        li Encrypt data while you’re moving it and think about how best to protect it when stored.
        li Store data in a reliable place with good security practices.
  hr
  div.row
    div.col-md-12
      h3 Engage Your Users
  div.row
    div.col-md-5
      div.img
    div.col-md-7
      p.lead Is the way I’m using data obvious to my users?
      ul
        li Ideally, data practices should be designed to be obvious, but in some cases this can’t happen. If practices can’t be made obvious, then tell your users about it in user experience, privacy notices and support documentation.
        li Try to create more trust by giving my users clear options and controls around their data.
