div.container
  h2.special-quote.text-center How?

div.container.how-container
  div.row
    div.col-md-5
      h3 <b>Step One:</b> Stay Lean
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
  div.row(style="background:none;border:none")
    div.col-md-5
      h3 <b>Step Two:</b> Build In Security
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
  div.row
    div.col-md-5
      h3 <b>Step Three:</b> Engage Your Users
      div.img
    div.col-md-7
      p.lead Do I need this data to provide my business or product?
      ul
        li If you don’t need a piece of data try not to collect it.
        li If you do need a piece of data, try to keep it for only as long as necessary and anonymize the data before you store it.
