h1,h2,h3,h4,h5,h6 {
  //text-shadow: 0 1px 0 #eee;
}

.jumbotron {
  padding-top: 0;
  background-color: #0C99D5;
  background-image: linear-gradient(to bottom, rgba(12, 153, 213, 0) 0px, rgba(12, 153, 213, 0) 100px, #0C99D5 450px, #0C99D5), repeating-linear-gradient(118deg, rgba(12, 153, 213, 0) 0px, #00A7E0 550px, rgba(12, 153, 213, 0) 550px, #00A7E0 800px, rgba(12, 153, 213, 0) 800px, #00A7E0 950px);
  box-shadow: 0 -2px 10px darken(#20B7E3,10) inset;
  margin: 0;

  h1 {
    color: #fff;
    font-weight: 100;
    font-size: 72px;
  }

  h2 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
  }

  .lead {
    color: #fff;
  }

  .foot-jumbotron {
      box-shadow: 0 2px 4px #9dc inset;
  }

  a {
    text-decoration: none;
  }
}

.link-box {
  background: rgba(50,50,50,.05);
  border-radius: 2px;
  border: 1px solid rgba(255,255,255,.4);
  box-shadow: rgba(0,0,0,.08) 0 2px 2px inset;
  height: 180px;
  margin: 20px 0 0 0;
  transition: background .125s;
  &:hover {
    background: rgba(50,50,50,.15);
    img {
    margin-top: -1px;
    }
  }
  h4 {
    
  }
  img {
    width:100px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    transition: top .125s;
  }
  h4 {
    color: #FFF;
    text-shadow: none;
    font-weight:300;
    &:hover {
      text-decoration: none !important;
    }
  }
}

.circular-image {
  width: 200px;
  height: 200px;
  margin: 40px auto;
  border-radius: 50%; }
  .circular-image.handshake {
    background: #5BC0A4 url(../images/shake.png) no-repeat center 30px;
    background-size: 150px 150px; }
  .circular-image.lock {
    background: #5BC0A4 url(../images/lock.png) no-repeat center 30px;
    background-size: 130px 130px; }


.section-header {
  margin: 0 0 60px 0;
  h2 {
    font-size: 36px;
    font-weight: 300;
  }
}

.image-holder {
  background: #D79;
  margin: 10px auto;
}

.piggy-bg {
  background: url(../images/piggy.png) no-repeat right bottom;
  background-size: 280px auto;
  padding: 20px 0 40px 0; 
}

h3 {
  font-weight:300;
}

.padded {
  padding: 40px 0 0 0;
}

.dot-border {
  border-radius: 20px;
  position: relative;
  padding:20px 40px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd;
}

.dot-border:after {
  content: '';
  width:0;
  height:0;
  right: -30px;
  top: 38%;
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 31px solid #f2f2f2;
}


.chunk {
  padding: 60px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 2px #ccc inset,0 2px 2px #bbb;
  h2 {
    font-size: 60px;
    font-weight: 100;
    margin-left:-20px;
  }
}


.grey-chunk {
  background: #f2f2f2;
  padding: 60px;
}

.white-block {
  background: #fff;
  margin:15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 2px #ccc;
  p {
    font-size: 20px;
    margin:10px;
  }
}

.special-quote {
  color: #fff;
  background: #20B7E3 none repeat scroll 0% 0%;
  display: block;
  padding:20px;
  width:200px;
  height:94px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  position: relative;
  font-size: 54px;
  font-weight:100;
}

.special-quote:after {
  content: '';
  width:0;
  height:0;
  right: 8px;
  top:94px;
  left:90px;
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #20B7E3;
}

.how-container {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 4px #ddd;
  padding:40px;
  .row {
    h3 {
      font-weight: 100;
      font-size: 48px;
    }

    }
  .lead {
    border-radius:10px;
    font-size: 24px;
    display: inline-block;
    padding: 20px;
  }
  li {
    font-size: 20px;
    margin: 0 0 15px 0;
  }
}

.img {
  height: 200px;
  background: #aed;
  margin: 20px auto;
}
