h1, h2, h3, h4, h5, h6 {
  text-shadow: 0 1px 0 #eee; }

.jumbotron {
  margin-top: 60px;
  background: #aaeedd url(../images/bg.png);
  background-size: cover;
  box-shadow: 0 -2px 4px #9dc inset; }
  .jumbotron h1 {
    font-weight: 100;
    font-size: 100px; }
  .jumbotron .foot-jumbotron {
    box-shadow: 0 2px 4px #9dc inset; }

.link-box {
  background: rgba(50, 50, 50, 0.33);
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: #888 0 2px 2px inset;
  transition: background .125s; }
  .link-box:hover {
    background: rgba(50, 50, 50, 0.44); }
    .link-box:hover img {
      margin-top: -5px; }
  .link-box img {
    width: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    transition: top .125s; }
  .link-box h4 {
    color: #FFF;
    text-shadow: none;
    font-weight: 300;
    padding: 20px; }
    .link-box h4:hover {
      text-decoration: none !important; }

.section-header {
  margin: 0 0 60px 0; }
  .section-header h2 {
    font-size: 36px;
    font-weight: 300; }

.image-holder {
  background: #D79;
  margin: 10px auto; }

.piggy-bg {
  background: url(../images/piggy.png) no-repeat right bottom;
  background-size: 280px auto;
  padding: 20px 0 40px 0; }

h3 {
  font-weight: 300; }

.padded {
  padding: 40px 0 0 0; }

.dot-border {
  border-radius: 20px;
  position: relative;
  padding: 20px 40px;
  background: #f2f2f2;
  border-bottom: 1px solid #ddd; }

.dot-border:after {
  content: '';
  width: 0;
  height: 0;
  right: -30px;
  top: 38%;
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 31px solid #f2f2f2; }

.chunk {
  background: #dadadF;
  margin: 0 0 60px 0;
  padding: 60px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 2px #ccc inset,0 2px 2px #bbb; }
  .chunk h2 {
    font-size: 60px;
    font-weight: 100;
    margin-left: -20px; }

.white-block {
  background: #fff;
  margin: 15px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 2px 2px #ccc; }
  .white-block p {
    font-size: 20px;
    margin: 10px; }

.special-quote {
  color: #fff;
  background: #FA6;
  display: block;
  padding: 20px;
  width: 200px;
  height: 94px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
  position: relative;
  font-size: 54px;
  font-weight: 100; }

.special-quote:after {
  content: '';
  width: 0;
  height: 0;
  right: 8px;
  top: 94px;
  left: 90px;
  position: absolute;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 15px solid #FA6; }

.how-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 4px #ddd;
  padding: 40px; }
  .how-container .row h3 {
    font-weight: 100;
    font-size: 48px; }
  .how-container .lead {
    border-radius: 10px;
    font-size: 24px;
    display: inline-block;
    padding: 20px; }
  .how-container li {
    font-size: 20px;
    margin: 0 0 15px 0; }

.img {
  height: 200px;
  background: #aed;
  margin: 20px auto; }
